.about-us-container, .our-services{
    width:75%;
    position:relative;
    top:-180px;
    left:24%;
}
.our-services-details{
    margin:3rem 0;
    width:auto;
}
.our-services-details ul{
    display:flex;
    gap:15rem;
    justify-content: center;
    margin-right:3rem;
    font-weight:bold;
    cursor:default;
}

.service-container{
    margin-bottom:3rem;
}

.service-container button{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.price{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
}
.disclaimer{
    margin:3rem 0;
}
.team-member{
    display:flex;
    align-items:center;
}
.profile-pic{
    border-radius:75px;
    width:150px;
    height:150px;
    margin-right:2rem;
}
@media screen and (max-width:1100px){
    .about-us-container, .our-services{
        position:relative;
        top:-50px;
        left:9%;
    }
    .our-services-details ul{
        justify-content:flex-start;
        padding:0;
        gap:10%;
        margin:0;
    }
}