.about-us-container, .our-services{
    width:80%;
    position:relative;
    top:-180px;
    left:27%;
}
.our-services-details{
    margin:3rem 0;
}
.our-services-details ul{
    display:flex;
    justify-content:space-evenly;
    margin-right:3rem;
    font-weight:bold;
}
.our-services-details ul{
    cursor:default;
}
.service-container{
    margin-bottom:3rem;
}

.service-container button{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.price{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.disclaimer{
    margin:3rem 0;
}

@media screen and (max-width:1100px){
    .about-us-container, .our-services{
        position:relative;
        top:-100px;
    }
}