:root{
    --primaryColour:#650066;
}
.faq{
    width:80%;
    position:relative;
    top:-180px;
    left:27%;
}
.faq h1{
    text-align:left;
}
.question{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:1rem 4rem;
    font-weight: bold;
    border-bottom:5px solid var(--primaryColour);
}
.answer{
    margin:1rem 5rem;
    text-align: justify;
    display:none;
}

.answer ul li{
    list-style-type: disc;
}
@media screen and (max-width:1100px){
    .faq{
        width:90%;
        position:relative;
        top:-50px;
        left:3%;
    }
    .answer{
        margin:1rem 2rem;
    }
    .question{
        margin:1rem 2rem;
    }
}