:root{
    --primaryColour: #650066;
}
/*Fonts*/
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('fonts/Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: 100;
    src: local('Segoe UI Italic'), url('fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: 100;
    src: local('Segoe UI Bold'), url('fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('fonts/Segoe UI Bold Italic.woff') format('woff');
}
.goog-logo-link {
    display:none !important;
} 

.goog-te-gadget{
    color: transparent !important;
    
}

.goog-te-gadget .goog-te-combo  {
    border: none;
    width:9.5vw;
    height:1.3vw;
    font-size:1vw;
}

html{
    /* width:100vw;
    padding:0; */
    max-width:100vw;
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing:border-box;
    display:block;
    margin:0 auto;
}
body {
    width:80%;
    min-width: 300px;
    display:block;
    margin:0 auto 0 auto;
    padding: 1rem;


}

/*General*/
h1,h2,h3,h4{
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
       text-align: center;
}
h1{
    font-size:3vw;
    /* font-size:2.5rem; */
    color:var(--primaryColour);
}
h2{
    font-size:2.5vw;
}
h3{
    font-size:2vw;
}
p,li{
    font-family:"Segoe UI Regular";
    /* font-size:1rem; */
    font-size:1.25vw;
    /* line-height: 1.5rem; */
    line-height: 1.88vw;
    text-align: justify;
    overflow-wrap:normal;
}
.chevron{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:1px solid #000000;
}
.icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.chevron:hover, .icon:hover {
    background-color: #46E4C1;
    transition: all linear 0.2s;
}
span{
    cursor:default;
}
input,label{
    display:inline-block;
}
ol li{
    list-style-type: lower-alpha;
}
li {
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
a {
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    /* font-size:.9rem; */
    font-size:1.1vw;
    cursor:default;
}
a:hover{
    color:var(--primaryColour);
}

/* pre{
    font-family: sans-serif;
    font-size:1rem;
    line-height:1.5rem;
} */
header{
    /* max-width: 100%; */
    max-width:100vw;
    /* min-width:300px; */
    min-width:23.4vw;
}
/*The show class changes the display from none to block(or something else) while the reveal uses clip-path to reveal elements*/ 
.show{
    display:block !important;
    
}
.active{
    background:#000000 !important;
    color:#ffffff;
    /* border-radius:50px; */
    border-radius: 3.9vw;
}

.highlight{
    background-color:#46E4C1;
    transition: all linear 0.2s;
}

.block{
    display:block;
}


/*Buttons*/
.btn{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    /* font-weight:50px; */
    font-weight:3.9vw;
    /* padding:1rem 1.5rem; */
    padding:1.25vw 1.88vw;
    /* border-radius:3px; */
    background-color: var(--primaryColour);
    color:#ffffff;
    border:none;
    font-weight:bold;
}
.btn:hover, .call-to-action-btn:hover{
    background-color: #000000;
    color:#ffffff;
    transition: all linear .2s;
}   

/* Header */
.logo {
    /* max-width: 220px; */
    max-width:17vw;
    /* width: 150px; */
    width: 11.7vw;
    height: auto;
    position:relative;
    z-index:3;
}
.languageOptions{
    width:8vw;
    height:1.5vw;
    font-size:1vw;
    border:none;
    font-weight:bold;
    position:relative;
    /* top: -80px; */
    top:-6.25vw;
    /* left: 5%; */
    left:5vw;
    z-index:100;
}
.languageOptions:hover{
    color:var(--primaryColour)
}
nav{
    display:inline-block;
}
/* .secondary-navigation li:nth-c,
.secondary-navigation li:nth-child(3),
.secondary-navigation li:first-child{
    width:300px;
} */
.secondary-navigation li:nth-child(2):hover,
.secondary-navigation li:nth-child(3):hover,
.secondary-navigation li:first-child:hover,
.primary-navigation li a:hover  {
    background-color: #000000;
    color: #ffffff;
    /* border-radius: 50px; */
    border-radius: 3.9vw;
    /* padding:.5rem 1.08rem; */
    transition: all linear 0.2s;
}
.secondary-navigation li:nth-child(2):hover > a,
.secondary-navigation li:nth-child(3):hover > a,
.secondary-navigation li:first-child:hover > a{
    color:#ffffff;
}

.hamburger-menu{
    display:none;
    min-height:48px;
    min-width:48px;
    position: relative;
    top: -120px;
    left: 81vw;
}
.primary-navigation {
    width: auto;
    /* max-width:800px; */
    max-width:62.5vw;
    position: relative;
    /* top: -80px; */
    top: -6.25vw;
    /* left: 20%; */
    left: 13vw;
    z-index:3;
}
.primary-navigation li {
    display: inline-block;
}

.secondary-navigation {
    /* width: 200px; */
    width:15.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    position: relative;
    top: 0;
    /* left: -2rem; */
    left:-2.5vw;
    z-index:3;
}
.secondary-navigation li {
    /* width:100%; */
    width:100%;
    /* margin-top: 1rem; */
    margin-top:1.25vw;
}
.secondary-navigation li:first-child  {
    background-color: #FF2372;
    /* border-radius: 50px; */
    border-radius:3.9vw;
    /* padding: 0.5rem 1rem; */
    padding:0.63vw 1.25vw;
    text-align: center;
}
.secondary-navigation li:nth-child(2)  {
    background-color: #46E4C1;
    /* padding: 0.5rem 1rem; */
    padding:0.63vw 1.25vw;
    /* border-radius: 50px; */
    border-radius:3.9vw;
    text-align: center;
}
.secondary-navigation li:nth-child(3)  {
    background-color: #FFF64F;
    /* padding: 0.5rem 1rem; */
    padding:0.63vw 1.25vw;
    /* border-radius: 50px; */
    border-radius:3.9vw;
    text-align: center;
}


/*Scrollbar*/
::-webkit-scrollbar {
  width:.7rem;

}
::-webkit-scrollbar-thumb {
  background:var(--primaryColour);
  border-radius: 10px;
}

/*Footer*/
footer{
    width:100%;
    height:auto;
    padding:4rem 0;
    display:flex;
    margin:0 auto;
    justify-content:space-evenly;
    box-shadow: 3px 17px 40px rgb(169, 23, 148, 0.2);
}
footer p{
    line-height:.63vw;
    font-size:1.3vw;
    color:var(--primaryColour);
}
footer p:hover{
    color:#000000;
    cursor:default;
}
/*Modal*/
.modal-heading{
    color:#ffffff;
    margin:.5rem;
}
.modal{
    /* padding:2rem 0; */
    width: 100vw;
    min-width:300px;
    height:100vh;
    position:fixed;
    margin:auto;
    padding-top:1.8rem;
    text-align: center;
    left:25%;
    background-color: rgb(0, 0, 0,0.9);
    overflow-y: scroll;
    z-index:100;
    display:none;
    left:0%;
    top: 0%;
    max-height: 100%;
 
}
.policy-table{
    display:grid;
    grid-template-columns: 1fr 3fr;
    text-align:left;
}
.content{
    max-width:800px;
    min-width:300px;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    padding-bottom:1rem;
    flex-direction: column;
    margin:auto;
    background-color:#ffffff;
    color:#000000;
}
.content a{
    text-decoration:underline;
}

.rights-and-law-content{
    max-width:800px;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    text-align:left;
    padding:3rem 5rem 3rem  5rem;
    margin:auto;
    background-color:#ffffff;
    color:#000000;
}
.rights-and-law-content section a{
    display:block;
    margin-top:1rem;
}
.rights-and-law-content section a:hover{
    font-weight:bold;
    color:var(--primaryColour);
    transition:all .1s linear;
}
.content-contact-Us, .content-image-consent{
    padding:.2rem 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}
.content-contact-Us label, .content-image-consent label{
    min-width:200px;
    width:210%;
    height:auto;
    text-align:left;
    font-weight:bold;
}
.content-image-consent label {
    min-width:200px;
    width: 80%;
    height: auto;
    text-align: left;
    font-weight: bold;
}



.content-contact-Us input{
    width:210%;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.content-image-consent input {
    width: 80%;
    border: 2px solid #000000;
}

.content-contact-Us textarea{
    height:40px;
    width:210%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

/*Address Section of the contact page*/
.addressDiv{
    display:flex;
    justify-content:space-evenly;
    margin:.2rem 30%;
}
.addressIcon{
    width:10rem;
    height:auto;
}
.addressContent{
    color:#ffffff;
    line-height:1.2rem;
    text-align:left;
    font-size:.9rem;
    margin:0;
}

/*Policies*/
.policy{
    text-align:left;
}
.policy p,.policy ul li,.policy ol li{
    font-size:1rem;
}
.policy ul li{
    list-style-type: disc !important;
}
.policy ol li{
    list-style-type: upper-alpha;
}



.close{
    position:absolute;
    top:50px;
    left:50px;
    font-size:2rem;
    color:#ffffff;
}
.close:hover{
    color:#46E4C1;
    transform:scale(1.4);
    transition:all .2s linear;
}
/*Footer*/
.contact-us p, .company-details p{
    line-height: 2vw;
    color:#000000;
}
/*Support Us*/
.supportUsDivs{
    width:75%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    margin:2rem auto;
}

.socialMediaLinks ul{
    display:flex;
}
.socialMediaLinks ul li{
    list-style-type: none !important;
}
.contact-us h3, .miscellaneous h3, .company-details h3{
    text-align:left;
}

/*Scroll Design*/
.scrollbar{
    width:.5rem;
    height:60%;
    background: linear-gradient(180deg, #46E4C1, var(--primaryColour), #FF2372,#FFF64F);
    box-shadow: 3px 16px 40px rgb(169, 23, 148, 1);
    border-radius:50px;
    position:fixed;
    top:15%;
    right:8%;
    z-index:3;
}

/*Media Queries*/

@media screen and (max-width:600px){
    .secondary-navigation, .goog-te-gadget > .goog-te-combo{
        left:25vw !important; 
    }
}
@media screen and (max-width:500px){
    
    .content-contact-Us input, .content-contact-Us label, .content-contact-Us textarea{
        width:120%;
    }
    .modal{
        padding:2rem 0;
        width:100vw;
    }
    .content, .rights-and-law-content{
        width:75vw;
        padding:1rem;
    }
    .secondary-navigation{
        left:20vw !important; 
    }
}
@media screen and (max-width:400px) {
    .secondary-navigation{
        left:10vw !important; 
    }
}
@media screen and (max-width:350px) {
    .secondary-navigation{
        left:4vw !important; 
    }
}
@media screen and (max-width:800px){
   .goog-te-gadget .goog-te-combo{
        top:150px !important;
        left:-8vw !important;
   }
}

@media screen and (max-width:50rem){
    .logo{
        max-width: 220px;
        width: 150px;
    }
    h1{
        font-size:1.2rem;
    }
    p{
        font-size:1rem;
        line-height:1.5rem;
    }
    a{
        font-size:1rem;
    }
    /* p{
        word-spacing: 1rem;
    } */
    .hamburger-menu{
        display: block;
        position:relative;
        z-index:9;
    }
    .languageOptions{
        display:none;
    }
    .primary-navigation{
        width:95%;
        margin:0;
        padding:0;
        height:auto;
        position:absolute;
        top:150px;
        left:0;
        background-color: white;
        display: none; 
        z-index:10;
    }
    .primary-navigation li{
        background-color: var(--primaryColour);
        padding:1rem !important;
        clip-path: inset(0 0 0 100%); 
    }
    
    .primary-navigation li{
        display:block;
        text-align:center;
        margin:1rem;
        padding:1.5rem .5rem;
    }
    .primary-navigation li a{
        color:#ffffff;
    }
    /* .secondary-navigation{
        width:500px;
        align-items:flex-start;
        left:1%;
    } */
    .secondary-navigation{
        margin:1rem 0;
    }
    .secondary-navigation li{
        top:-1rem;
        padding: 0.5rem 1rem !important;
    }
    /*Modal*/
    .modal{
        text-align:center;
        left:15%
    }
    .close{
        top:20px;
        left:20px;
    }
    /*Scrollbar*/
    /* .scrollbar{
        display:none;
    } */
    /*Footer*/
    footer{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .miscellaneous, .company-details{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
        line-height: 1rem;
    }
    .contact-us p, .company-details p{
        text-align: center;
    }

}

@media screen and (max-width:69rem){
    .goog-te-gadget .goog-te-combo {
        width:145px;
        height:16px;
        font-size:0.7rem;
        position:relative;
        top:5.5vw;
        left:-15vw;
    }
    h3{
        font-size:1.5rem;
    }
    h2{
        font-size:2.5rem;
    }
    body{
        width:100vw;
        padding:0 !important;
    }
    .btn{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:50px;
    padding:1rem 1.5rem;
    border-radius:3px;
    }
    /*Navigation*/
    .secondary-navigation{
        width:100%;
        top:-60px;
        left:5%;
        align-items:flex-start;
        margin-top:3rem;
        margin-bottom:2rem;
    }
    /*Modal*/
    .modal{
        left:0%;
        /* width:100vw; */
    }
    /* .content{
        width:100%;
    } */

    /*Scroll Design*/
    .scrollbar{
        width:.5rem;
        height:25rem;
        background: linear-gradient(180deg, #46E4C1, var(--primaryColour), #FF2372,#FFF64F);
        box-shadow: 3px 16px 40px rgb(169, 23, 148, 1);
        border-radius:50px;
        position:fixed;
        top:15%;
        right:2%;
    }

    .footer p{
        font-size:1rem;
        line-height:.5rem;
    }
    .contact-us p, .company-details p{
        line-height: 1.5rem;
        font-size:1rem;
    }
    .miscellaneous p{
        line-height: 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width:1300px){
    /* html{
         max-width:100vw;
        box-sizing:border-box;
        padding: 0 10rem;
    } */
     h3{
        font-size:2rem;
    }
    h2{
        font-size:3rem;
    }
    .btn{
        font-size:1rem;
    }
}
@media screen and (min-width:1500px){

}

@media(min-width:1300px) {
    /* .primary-navigation{
        left:30%;
    } */

}

@keyframes reveal{
    from {
        clip-path: inset(0 0 0 100%);
        left:0;
    }
    to {
        clip-path: inset(0 0 0 0);
        display:block;
    }
}
@keyframes conceal {
    from {
        clip-path: inset(0 0 0 0);
        display:block;
    }
    to {
        clip-path: inset(0 0 0 100%);
        left:100vw;
    }
}
